// Font sizing
$base-font-size:     				14px !default;
$base-line-height:   				20px !default;

// Base units
$base-radius:        				3px !default;
$base-transition:   				0.333333333s !default;
$base-spacing-unit:  				20px !default;
$base-sidebar-width: 				200px !default;
$base-sidebar-spacing: 				90px !default;

// Banner
$banner-padding:					60px !default;

// Header
$header-padding:	 				20px !default;
$header-bar-height:     			32px !default;
$header-height:         			81px !default;

// To be changed once there is a new logo
$logo-height:		 				45px !default;
$logo-position:						($header-height / 2) - ($logo-height / 2);

// Menu
$main-menu-item-padding:			23px !default; 

// Callout
$callout-padding: 					($base-spacing-unit * 2) !default;

// Button
$btn-radius:						$base-font-size*3 !default;

// Menu
$main-menu-toggle-width:    		25px;
$main-menu-toggle-bar-height:   	3px;
$main-menu-toggle-bar-spacing:		5px;
$main-menu-toggle-bar-radius:   	0;
$main-menu-toggle-bar-time:   		0.25s;
$main-menu-toggle-bar-open-postion:	8px;


// Use maths to get the size of logo and menu toggle
$main-menu-toggle-height:(
	($main-menu-toggle-bar-height * 3) + ($main-menu-toggle-bar-spacing * 4)
	);

$main-menu-toggle-postion:(
	($logo-height + ($header-padding * 2)) / 2 - ($main-menu-toggle-height / 2)
	);

// Fact
$fact-size:         120px;
$fact-size-large:   166px;

// Responsive swidths
$width-large: 		1080px !default;
$width-medium:  	720px !default;
$width-mobile:  	719px !default;

// Wrapper settings
$site-width:         1170px;
$site-width-medium:  1024px;
$site-width-small:   720px;

// Fonts
$font-size-h1:       ($base-font-size * 3.5) !default;
$font-size-h2:       ($base-font-size * 2.5) !default;
$font-size-h3:       ($base-font-size * 2.0) !default;
$font-size-h4:       ($base-font-size * 1.4) !default;
$font-size-h5:       ($base-font-size * 1.2) !default;
$font-size-h6:       ($base-font-size * 0.9) !default;

$font-primary: 		'Open Sans' !default;
$font-secondary: 	Bungee !default;
$font-tertiary: 	Bonbon !default;

$banner-list: about speakers schedule sponsors socials venue diversity tickets speakers videos;